
<div class="content" fxLayout="row wrap" fxLayoutGap="20px grid" >
  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let vote of votes">
    <mat-card class="mat-elevation-z4">
      <mat-card-header>
        <mat-card-title> {{ vote.title }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="vote.imagePath" [alt]="vote.title"/>
    <mat-card-content><p> {{ vote.content }}</p></mat-card-content>
      <mat-card-actions align="center" >
        <!-- <button mat-raised-button color="primary">VOTE</button> -->
        <a mat-mini-fab color="primary" class="editspace" [routerLink]="['/edit', vote.id]">
          <mat-icon>edit</mat-icon>
        </a>
         <button class="delspace" mat-mini-fab color="warn" (click)="onDelete(vote.id)" >
          <mat-icon>delete</mat-icon>
        </button>

          <!-- <button mat-mini-fab color="warn" (click)="onDelete(vote.id)">DELETE</button> -->
      </mat-card-actions>
    </mat-card>
  </div>
</div>



